<%- include('header', {css: "index.css"}) %>
<div class="container text-center">
    <div class="jumbotron">
        <h1>Lizard</h1>
    </div>
    <div class="btnBlock">
        <div>
            <a href="login.html"><button class="btn btn-success">Login</button></a>
        </div>
        <div>
            <a href="signup.html"><button class="btn btn-success">Sign up</button></a>
        </div>
        <div>
            <a href="questions.html"><button class="btn btn-success">Jump to question</button></a>
        </div>
    </div>
</div>
<%- include('footer') %>