html, body {
    background: rgb(255, 247, 213);
    height: 100%;
}

.hatter {
    background: rgb(255, 247, 213);
    height: 100%;
}

.nav-link-text {
    font-size: 30px;
    font-weight: bold;
    margin-right: 40px;
}

main {
    margin-top: 200px;
}

.question {
    margin-top: 50px;
    margin-bottom: 50px;
}

select {
    margin-top: 40px;
}