html, body {
    background: rgb(255, 247, 213);
    height: 100%;
}

.hatter {
    background: rgb(255, 247, 213);
    height: 100%;
}

.nav-link-text {
    font-size: 30px;
    font-weight: bold;
}

.btn-warning {
    padding: 5px;
}

main {
    margin-top: 100px;
}

.categories {
    background: rgb(243, 216, 180);
}

.row > div > div {
    padding: 10px;
    border: 1px solid black;
    margin: 5px;
}

.row > div > div > div {
    padding: 5px;
    border-bottom: 1px solid black;
}

.question-list {
    background: rgb(233, 224, 200);
}

h2 {
    margin-bottom: 30px;
    text-align: center;
}

.row a {
    color: inherit;
    /* blue colors for links too */
    text-decoration: inherit;
    /* no underline */
}

.navbar-collapse {
    border-bottom: 1px solid grey;
    
}